footer {
    background-color: rgb(243, 118, 99);
    color: #fff;

    .footer-nav {
        display: flex;
        justify-content: space-between;
        max-width: 75em;
        margin: auto;
        padding: 1.25em 1.875em;
        @media screen and (min-width: 31.25rem) {
            padding: 1.25em 3.125em;
        }
    }
    
    img {
        width: 1.5em;
    }
}

.social {
    display: flex;
}

a {
    padding-left: 10px;
}
