footer {
    background-color: rgb(243, 118, 99);
    color: #fff;
    padding: 1.25em 1.875em;

    @media screen and (min-width: 500px) {
        padding: 1.25em 3.125em;
    }

    .footer-nav {
        display: flex;
        justify-content: space-between;
        max-width: 75em;
        margin: auto;
    }
    
    img {
        width: 1.5em;
    }
}