header {
    border-bottom: 1px solid rgba(20,20,20,.1);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 30px;
    @media screen and (min-width: 500px) {
        padding: 20px 50px;
    }
}

img {
    height: 43px;
    width: 186px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
}

li {
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;

    a {
        color: rgba(0,0,0,.6);
        padding: 5px;
        text-decoration: none;
    }

    a:hover, .selected {
        color:  rgb(84,146,158);
    }

    a:active {
        color: rgba(0,0,0,.6);
    }
}