form {
  background-color: #a3cbd4;
  margin-top: 1.25em;
  padding: 1.25em;  

  label {
      color: #333;
      display: block;
      padding-top: 1em;
  }

  input, textarea {
      border: none;
      border-radius: 2px;
      width: 100%;
  }

  button {
      background-color: #fff;
      border: none;
      border-radius: 2px;
      color: #338496;
      display: block;
      margin: 1em 0;
      padding: .625em;
  }
}

.hidden {
    height: 0;
    visibility: hidden;
}

.bio {    
    padding: .625em;
    text-align: center;

    .me {
        border-radius: 50%;
        box-shadow: 0px 8px 16px rgba(20,20,20,.2);
        margin: 1.25em auto;
        max-width: 18.75em;
        width: 90%;
    }
}

h2 {
    margin-top: 1.875em;
}

address {
    color: #338496;
    font-size: 1.125em;
    font-style: normal;
}

.social {
    display: inline;
    margin: .625em;
    width: 1.5em;
    padding-top: .625em;
}

.contact-form {
    background-color: #a3cbd4;
}

@media screen and (min-width: 37.5rem) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }


    form {
        margin-top: 0;
    } 

    .bio {
        max-width: 18.75em;
        margin-right: 3.125em;
        padding: 0;
        
        .me {
            margin: 0;
            width: 100%;
        }
    }
}

@media screen and (min-width: 50rem) {
    section {
        grid-template-columns: 18.75em auto;
    }
}