<div class="parallax">
    <picture class="background" >
        <source media="(max-width: 49.99rem)" srcset="../../assets/programmerTall.webp" type="image/webp">
        <source media="(max-width: 49.99rem)" srcset="../../assets/programmerTall.jpg" type="image/jpeg">
        <source media="(min-width: 50rem)" srcset="../../assets/programmerWide.webp" type="image/webp">                
        <source media="(min-width: 50rem)" srcset="../../assets/programmerWide.jpg" type="image/jpeg">
        <img src="../../assets/programmerTall.webp" alt="Tammy's Interests" />
    </picture>
    <ul id="scene">
        <li class="layer butterfly1" z-index="5"><img src="../../assets/butterflies@0.5x.png"/></li>
        <li class="layer butterfly2" data-depth="0.0"><img src="../../assets/butterflies2@0.5x.png"/></li>
        <li class="layer cloud1" data-depth="0.0"><img src="../../assets/cloud1@0.5x.png"/></li>
        <li class="layer cloud2" data-depth="0.0"><img src="../../assets/cloud2@0.5x.png"/></li>
        <li class="layer cloud3" data-depth="0.3"><img src="../../assets/cloud3@0.5x.png"></li>
        <li class="layer cloud4" data-depth="0.3"><img src="../../assets/cloud4@0.5x.png"></li>
        <li class="layer tire tiregear"><img src="../../assets/backGearCrop.png"></li>
        <li class="layer tirefront"><img src="../../assets/frontgearCrop.png"></li>
        <li class="layer tire tire1"><img src="../../assets/frontTireCrop.png"></li>
        <li class="layer tire tire2"><img src="../../assets/frontTireCrop.png"></li>
    </ul>
</div>