.image-box {
    position: relative;
}

.main-image {
    box-shadow: 0px 8px 16px rgba(20,20,20,.2);
    margin-bottom: 3.125em;
    width: 100%;
}

.prev {
    position: absolute;
    left: -2.8125em;
    top: calc(50% - 1em);
    @media screen and (min-width: 80em) {
        left: -4.6875em;
    }
}

.next {
    position: absolute;
    right: -2.8125em;
    top: calc(50% - 1em);
    @media screen and (min-width: 80em) {
        right: -4.6875em;
    }
}

p {
    padding-bottom: 50px;
}

ul {
    padding-bottom: 3.125em;
    padding-inline-start: 1.25em;
}

a, .next-button {
    background-color: #fff;
    border: 2px solid rgb(84,146,158);
    border-radius: 2px;
    color:  rgb(84,146,158);
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    text-decoration: none;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
}

a {
    padding: .775em 1em;
}

.next-button {
    padding: .7em 1em;
}

a:hover, .next-button:hover {
    background-color: rgb(84,146,158);
    color: #fff;
}

a:active, .next-button:active {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, .6);
    color: rgba(0,0,0,.6);
}

button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 2px 0;
    
    img {
        width: 2.25em;
    }
}