/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 300;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: rgb(102,102,102);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #54929e;
}

h1 {
    
    font-size: 1.875em;
    margin-bottom: 1em;
}
h2 {
  font-size: 1.625em;
  margin-bottom: 10px;
  font-weight: 700;
}


html, body {
  height: 100%;
}

main {
    padding: 30px;
    @media screen and (min-width: 500px) {
        padding: 30px;
    }
}


