.education {
    background-color: #b8d9e6;
    color: #333;
    margin-top: 3.75em;
    padding: 2.5em;


    @media screen  and (min-width: 66rem) {
        display: flex;
        justify-content: space-around;
    }

    h2 {
        color: #333;
        font-weight: 700;
    }

    h3 {
        color: #333;
        font-family: "Open Sans", sans-serif;
        font-size: 1.125em;
        font-weight: 700;
    }

    p {
        padding-bottom: 1.125em;

        span {
            font-weight: 700;
        }
    }
}

ul {
    padding-inline-start: 20px;
}
