
img {
    width: 100%;
    padding-bottom: 30px;
}

.education {
    background-color: rgb(141, 202, 223);
    margin-top: 60px;
    color: #fff;
    padding: 40px;

    h2 {
        color: #fff;
        font-weight: 700;
    }
    h3 {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
    }
    p {
        padding-bottom: 18px;

        span {
            font-weight: 700;
        }
    }
}
